<div class="bg-slate-700">
    <div class="  h-20  bottom-0 grid-flow-col flex text-white text-3xl items-center justify-evenly">
        <i class=" fab fa-github ">
            
        </i>
        <i class=" fab fa-twitter">
            
        </i>
        
        
    </div>
    <p class=" font-thin text-center text-white">
        TheWisePigeon 2022
    </p>
</div>