<div class="bg-slate-700 ">
    <div class="  h-20  bottom-0 grid-flow-col flex text-white text-3xl items-center justify-evenly ">
        <a href="https://github.com/TheWisePigeon/">
            <i class=" fab fa-github hover:text-orange-500"></i>
        </a>
        
        <a href="mailto:twisepigeon@gmail.com">
            <i class="fas fa-envelope-square hover:text-orange-500"></i>
        </a>

        <a href="https://twitter.com/TheWisePigeonXD">
            <i class=" fab fa-twitter hover:text-orange-500" ></i>
        </a>
        
    </div>
    <p class=" font-thin text-center text-white ">
        Made with ❤ by TheWisePigeon
    </p>
</div>