<div class=" top-0 flex flex-col h-16 w-auto bg-slate-800
            justify-between">

</div>
<div class=" grid md:grid-cols-2 gap-4 justify-between  bg-slate-700">
    <div class=" font-extrabold mx-3 my-3">
        <p>
            <h1 class=" text-white text-4xl">JOIN PIGEONHEAD AIRDROP NOW</h1><br>
            <p class="text-2xl text-center text-transparent bg-clip-text bg-gradient-to-br from-pink-400 to-red-600 font-extrabold leading-10">
                Register <a class="bg-blue-500 rounded-lg px-2 text-white " href="">here</a> to create your
                pWallet and earn 20.000.000pHs <br> Invite your friends and get 5.000.000 for each registration using your link! <br>
                Want to know more about the pigeonHead? Scroll down below
            </p><p class="text-5xl text-center">👇</p>
            
        </p>
    </div>
    <div class="scale-100 mx-3 my-3 flex justify-center">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMI17ngE1BdrBxp5vKvVcTlhaa0OWpIf0YoARF82MYP6hlZGbT7bsRM0SjJYhiVp9xhWk&usqp=CAU"
            alt="">
    </div>
</div>