<div class=" top-0 flex flex-col h-16 w-auto bg-slate-800
            justify-between">

</div>
<div class=" grid grid-cols-2 gap-4 justify-between  bg-slate-700">
    <div class=" font-extrabold mx-3 my-3">
        <p>
        <h1>SIGN UP AND GET 20m pHs</h1>
        </p>
    </div>
    <div class="mx-3 my-3">
        <img src="
     https://images.unsplash.com/photo-1453728013993-6d66e9c9123a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dmlld3xlbnwwfHwwfHw%3D&w=1000&q=80"
            alt="">
    </div>
</div>