<div class=" top-0 flex flex-col h-16 w-auto bg-slate-800
            justify-between">

</div>
<div class=" grid md:grid-cols-2 gap-4 justify-between  bg-slate-700">
    <div class=" font-extrabold mx-3 my-3">
        <p>
        

        </p>
    </div>
    
</div>