<div class=" top-0 flex flex-col h-16 w-auto bg-slate-800
            justify-between">

</div>
<div class=" grid md:grid-cols-2 gap-4 justify-between  bg-slate-700">
    <div class=" font-extrabold mx-3 my-3">
        <p>
        

        </p>
    </div>
    <div class="scale-100 mx-3 my-3 flex justify-center">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMI17ngE1BdrBxp5vKvVcTlhaa0OWpIf0YoARF82MYP6hlZGbT7bsRM0SjJYhiVp9xhWk&usqp=CAU"
            alt="">
    </div>
</div>