<div class=" top-0 flex flex-col h-16 w-auto bg-slate-800
            justify-between">

</div>
<div class=" grid md:grid-cols-2 gap-4 justify-between  bg-slate-700">
    <div class=" font-extrabold mx-3 my-3">
        <p>
        <h1 class=" text-white text-4xl">JOIN PIGEONHEAD AIRDROP NOW</h1><br>
        <p
            class="text-2xl text-center text-transparent bg-clip-text bg-gradient-to-br from-pink-400 to-red-600 font-extrabold leading-10">
            The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections
            1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact
            original form, accompanied by English versions from the 1914 translation by H. Rackham
        </p>
        <p class="text-5xl text-center">👇</p>

        </p>
    </div>
    <div class="scale-100 mx-3 my-3 flex justify-center">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMI17ngE1BdrBxp5vKvVcTlhaa0OWpIf0YoARF82MYP6hlZGbT7bsRM0SjJYhiVp9xhWk&usqp=CAU"
            alt="">
    </div>
</div>