<div class="bg-slate-700 py-4">
    <div class="flex items-center text-white">
        <div class="flex-grow bg bg-gray-300 h-0.5"></div>
        <div class="flex-grow-0 mx-5 text font-extrabold">HOW</div>
        <div class="flex-grow bg bg-gray-300 h-0.5"></div>
    </div>
    <p class="text-center text-white font-extrabold font-mono">will the platform work?</p>
    <div class="h-96 w-auto rounded-xl shadow-inner mx-2 my-2 px-4 py-4
     bg-gradient-to-bl from-pink-500 to-yellow-500">
        <p class=" text-white text-2xl font-extrabold text-right leading-loose">
            Once you registered for the airdrop, your "pigeonWallet" will be created and your pHs will be sent right away.
            Then you will receive a unic hash that is the key to access your wallet, if you loose this key you loose 
            everything &#128556; so store it in a safe place! Note that all your informations are stored on a decentralized database.
            Once the platform is live you can signup with your pigeonWallet and start creating, selling and buying digital assets.You won't be 
            billed for listing, however, the platform will take 2.5% of your product cost during a sale. Once you buy a digital assets, it gets added to your
            pWallet but will still display the name of it's creator if you ever decide to list it for sale
            . That's pretty much it, got any question? Contact us :)
        </p>
    </div>
</div>