<div class="bg-slate-700 py-4">
    <div class="flex items-center text-white">
        <div class="flex-grow bg bg-gray-300 h-0.5"></div>
        <div class="flex-grow-0 mx-5 text font-extrabold">WHAT</div>
        <div class="flex-grow bg bg-gray-300 h-0.5"></div>
    </div>
    <p class="text-center text-white font-extrabold font-mono">is this PigeonHead all about?!!</p>
    <div class="h-auto sm:h-auto  w-auto rounded-xl shadow-inner mx-2 my-2 px-4 py-4
     bg-gradient-to-tr from-pink-500 to-yellow-500">
        <p class=" text-white text-2xl font-extrabold text-left leading-loose">
            Glad you asked &#128516;, so the answer is pretty simple: pigeonHead (pH) is meant to be a currency!
            <br>We will be launching a platform that will act like a NFT marketplace, where users can mint, sell and buy <br>
            digital assets. Our goal to achieve in deploying such a platform is to make our users familiar to NFTs and give<br>
            them a glimpse of how NFT marketplaces actually work. Thus the currency that will be in use on the platform 
            will be the "pigeonHead". <br> Hope it was clear, feel free to send your inquiries, we'll be glad to answer you <br>
            
        </p>
        
    </div>
</div>