<div class="bg-slate-700">
    <div class="flex items-center text-white">
        <div class="flex-grow bg bg-gray-300 h-0.5"></div>
        <div class="flex-grow-0 mx-5 text font-extrabold">WHAT</div>
        <div class="flex-grow bg bg-gray-300 h-0.5"></div>
    </div>
    <p class="text-center text-white font-extrabold font-mono">is this PigeonHead all about?!!</p>
    <div class="h-96 w-auto rounded-xl shadow-inner mx-2 my-2 px-4 py-4
     bg-gradient-to-tr from-red-500">
        <p class=" text-white font-extrabold text-left">
            HEY fellow pigeon, would you mind joining us in this adventure? ;)
            <br>Actually the pigeonHead is just a dream but one day man go blow
        </p>
    </div>
</div>