<div >
    <div class="flex items-center">
        <div class="flex-grow bg bg-gray-300 h-0.5"></div>
        <div class="flex-grow-0 mx-5 text dark:text-white font-extrabold ">WHAT</div>
        <div class="flex-grow bg bg-gray-300 h-0.5"></div>
      
     </div>
     <p class=" text-center">is this PigeonHead all about?!!</p>
     <div class=" h-96 w-auto rounded-xl m-2.5 bg-slate-400">

     </div>
     
</div>