<div class="bg-slate-700 py-4">
    <div class="flex items-center text-white">
        <div class="flex-grow bg bg-gray-300 h-0.5"></div>
        <div class="flex-grow-0 mx-5 text font-extrabold">WHO</div>
        <div class="flex-grow bg bg-gray-300 h-0.5"></div>
    </div>
    <p class="text-center text-white font-extrabold font-mono">is behind this project?</p>
    <div class="h-auto sm:h-auto w-auto rounded-xl shadow-inner mx-2 my-2 px-4 py-4
     bg-gradient-to-r from-pink-500 to-yellow-500">
        
    </div>
</div>